<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <section>
        <form action="/home/<%=d.id%>?_method=PUT" method="POST">
            <legend>Enter check out time(in 24 hrs format</legend>
            <input type="number" name="couth" id="couth" min="0" max="23" required>
            <input type="number" name="coutm" id="coutm" min="0" max="59" required>
            <button type="submit" style="background-color: lightgreen;">Exit</button>
        </form>
    </section>
</body>
</html>