* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #00f5d4;
    background-image: url("MK.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* main div */

.main {
    max-width: 65%;
    margin: 20px auto;
}

/* first div */

.f1div {
    background-color: white;
    padding-left: 10px;
}

.f1ulist {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.f1list {
    margin-right: 25px;
    font-size: 30px;
    font-family: 'MonteCarlo', cursive;
}

/* second div */
.f2div {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

img {
    height: 300px;
    width: 300px;

}

.idiv {
    text-align: center;
    padding: 60px 80px;
    margin-left: 120px;
}

.btn {
    margin-top: 10px;
    padding: 10px;
    border: 3px solid rgb(127, 138, 109);
    color: rgb(150, 193, 150);
    background-color: white;
}

/* third div */

.f3div {
    margin-top: 40px;
    background-color: white;
    padding: 30px;
}

/* forth div */
.f4div {
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
}

.f4list {
    list-style-type: none;
    border: 3px solid grey;
    margin-bottom: 5px;
    padding-left: 10px;
}


/* fifith div */

.f5div {
    background-color: white;
    padding: 30px;
}

.f5h {
    font-family: 'MonteCarlo', cursive;
}

.f5list {
    list-style-type: none;
    border: 3px solid grey;
    margin-bottom: 5px;
    padding-left: 10px;

}

/* Extra */
.all:hover {
    box-shadow: 0px 0px 10px #5f6363;
}

@media screen and (max-width:530px) {
    .idiv{
        margin-left:30px;
    }
    
}